* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: lightblue;
}

div#bookForm {
    background-color: aquamarine;
    margin: 10px;
    padding: 20px;
}

div#bookLibrary {
    background-color: lightskyblue;
    padding: 15px;
    margin: 10px;
}